.layout {
    height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
    overflow: hidden;
background-image: url("../../assets/login-bg-light.ea7e2a4c41c05e7a2a11.png") !important;
    /* background: hsla(171, 87%, 67%, 1);

    background: linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#61F4DE", endColorstr="#6E78FF", GradientType=1); */
}

.scrollable-content {
    /* display: grid; */
    /* text-align: center; */
    /* align-items: center;
    justify-content: center; */

    overflow-y: auto;
    /* Allow vertical scrolling */
    overflow-x: hidden;
    /* Hide horizontal overflow */
    /* padding: 16px;  */


}

.main-content {
    margin: 0 auto;
    max-width: 1200px;
}